:root  {
    --black:#000000;
    --truewhite:#ffffff;
    --white:#F4F4F6;
    --background:#141432;
    --highlight:#26264E;
    --upper:#1D1D42;
    --primary:#6FCF97;
    --secondary:#524EEE;
    --greater:#4E2ECF;
    --contrast:#836DDD;
    --caption:#C4C4C4;
    --disabled:#42416C;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:var(--upper);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.calculator_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width:12em;
    margin: auto;
}

.calculator_output{
    grid-column: 1 / 5 ;
    font-size: 2em;
    padding:0.5em;
    word-wrap: break-word;
    text-align: right;
    color:#fff;
    background-color: #242424;
    border:1px solid var(--background);
}



.calculator_btn{
    cursor: pointer;
    background-color:var(--lighter);
    color:#fff;
    padding:1em;
    text-align: center;
    border:1px solid var(--background);
    align-self: center;
}

.calculator_btn:hover{
    background-color:#141414;
}

.misc{
    background-color: var(--contrast)
}

.operators{
    background-color: var(--primary)
}

.zero{
    grid-column: 1/3;
}

.task-container{
    width:30em;
    margin:auto;
}

.task-header{
    display:flex;
    justify-content:space-between;
    padding:1.5em 2em;
    background:var(--highlight);
    border-radius: 1em;
}

.task-input{
    background-color: transparent;
    border:none;
    color:var(--white);
    font-size:32px;
    font-weight: 300;
    width:100%
}

input::placeholder{
    color:var(--white)
}

.task-add{
    width: 40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 32px;
    color:var(--truewhite);
    background-color: var(--primary);
}

.task-add:hover{
    background-color:var(--contrast)
}

.task-item{
    border-radius: 1em;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--highlight);
    margin:1em 0;
    padding:0 1em;
    height:75px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--background);
    border: none;
    padding: 4px 6px;
    border-radius:6px;
    color:var(--white);
    font-size:1em;
    cursor: pointer;
    width:80px;
}

select::-ms-expand{
    display: none;
}

.date-selector{
    width:80px;
    background-color: var(--background);
    padding:4px 6px;
    border-radius: 6px;
    margin-left:1em;
    border:none;
    font-size:1em;
    font-weight:300;
    color:var(--white);
    text-align:center;
}

.task-name-group input{
    display:inline-block;
    margin:auto 0.5em;
}

.task-name-group{
    display:inline-flex;
    margin:auto 0;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    box-sizing: border-box;
    width:20px;
    height:20px;
    border:3px solid var(--secondary);
    border-radius:6px;
    cursor:pointer;
    margin:auto 0.5em;
    
}

input[type="checkbox"]:checked + label span{
    border:3px solid #42416C;
    background:url("/assets/images/check.svg") 1px 2px no-repeat, var(--secondary);
}

.task-name{
    color:var(--white);
    font-weight: 300;
    font-size:24px;
}

.task-date{
    padding:2px 8px;
    border-radius: 6px;
    background-color: var(--secondary);
    color:var(--white)
}

.remove_btn{
    display: none;
}

.isdone{
    color:var(--disabled)
}
